{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "class-methods-use-this": "error",
    "complexity": ["warn", 10],
    "max-statements": ["warn", 30],
    "no-use-before-define": [
      "error",
      { "functions": true, "classes": true, "variables": true }
    ]
  }
}
